
img{
  width: 256px;
  height: : 256px;
}
.slider {
        width: 50%;
        margin: 100px auto;
    }

    .slick-slide {
      margin: 0px 20px;
    }

    .slick-slide img {
      width: 100%;
    }

    .slick-prev:before,
    .slick-next:before {
      color: black;
    }
  

    .slick-active {
      opacity: .5;
    }

    .slick-current {
      opacity: 1;
    }
